### OBJECT ORIENTED PROGRAMMING
## classes and objects

-Method is a function inside a class

-attributes stores the daya for the object

-constructor is where the method is defined...its the building block of object

###Class
A blueprint for creating objects.

It defines attributes (data) and methods (functions).

In [1]:
class Dog:
    def bark(self):
        return "Woof!"

Object
An instance of a class.

Created from a class, it holds actual data.

In [2]:
dog1 = Dog()  # dog1 is an object of class Dog
print(dog1.bark())  # Output: Woof!

Woof!

###Constructor
A special method that runs when an object is created.

In Python, it's __init__().

In [3]:
class Dog:
    def __init__(self, name):
        self.name = name

dog1 = Dog("Buddy")
print(dog1.name)  # Output: Buddy

Buddy

Attribute
A variable inside a class (e.g., name, age, color).

self.name = name  # 'name' is an attribute

# Method
#A function inside a class that works with the object’s data.

In [7]:
# Method
#A function inside a class that works with the object’s data.


def bark(self):
    return f"{self.name} says Woof!"

### Inheritance

#### A class can inherit from another class to reuse code.

In [8]:
class Animal:
    def speak(self):
        return "I make a sound"

class Dog(Animal):
    pass

d = Dog()
print(d.speak())  # Inherits from Animal

I make a sound

 ### Encapsulation
 
Keeping data hidden using methods to access/modify it.

In [9]:
class BankAccount:
    def __init__(self):
        self.__balance = 0  # Private attribute

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

### Polymorphism

Methods with the same name but different behavior in different classes.

In [10]:
class Cat:
    def sound(self):
        return "Meow"

class Dog:
    def sound(self):
        return "Woof"

for animal in [Cat(), Dog()]:
    print(animal.sound())  # Calls the right method for each

Meow
Woof

## Term	## Description
Class -	Blueprint or template

Object -	Instance of a class

Constructor	-Initializes object (__init__)

Attribute -	Object variable (e.g., name, age)

Method	- Function inside a class

Inheritance	- Reuse behavior from a parent class

Encapsulation	- Hide internal details

Polymorphism	- Same method name, different behavior

#### pandas and Numpy

--Pandas has two main data structures

--powerful in data analysis

-The structures are;

. series- is basically a column in a table

. dataframe is a table with rows and columns

.when using pandas, import it as pd ie import pandas as pd.

In [1]:
# import dataframe
import pandas as pd
df=pd.read_csv("Excel_jumia.csv")
df.head()

,Product,Current price,old price,Discount,Review,Ratingd
0,115 Piece Set Of Multifunctional Precision Sc...,KSh 950,"KSh 1,525",38%,(2),4.5 out of 5
1,Metal Decorative Hooks Key Hangers Entryway Wa...,KSh 527,KSh 999,47%,(14),4.1 out of 5
2,Portable Mini Cordless Car Vacuum Cleaner - Blue,"KSh 2,199","KSh 2,923",25%,(24),4.6 out of 5
3,Weighing Scale Digital Bathroom Body Fat Scale...,"KSh 1,580","KSh 2,499",37%,(7),4.7 out of 5
4,Portable Home Small Air Humidifier 3-Speed Fan...,"KSh 1,740","KSh 2,356",26%,(5),4.8 out of 5

In [ ]:
df.info() # gives all information including column names,datatypes number of entries(rows)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        115 non-null    object
 1   Current price  115 non-null    object
 2   old price      115 non-null    object
 3   Discount       115 non-null    object
 4   Review         57 non-null     object
 5   Ratingd        57 non-null     object
dtypes: object(6)
memory usage: 5.5+ KB

In [4]:
df.describe()

,Product,Current price,old price,Discount,Review,Ratingd
count,115,115,115,115,57,57
unique,109,103,93,46,23,22
top,"Balloon Insert, Birthday Party Balloon Set, PU...",KSh 799,"KSh 1,699",49%,(5),5 out of 5
freq,3,4,7,14,7,7

### HANDLING MISSING VALUES

-Numerical data can be replaced using  mean,median or mode

-categorical data can be replaced using unknown ,mode 

-mode can onlu be used if values are repeted

-mean can be used is the dataset symetrical in nature or no outliers

-meadian is used if the dataset is asymmetrical or has outliers

-method 'fillna' is used to fill missing values in python

In [5]:
df.describe

<bound method NDFrame.describe of                                                Product Current price  \
0    115  Piece Set Of Multifunctional Precision Sc...       KSh 950
1    Metal Decorative Hooks Key Hangers Entryway Wa...       KSh 527
2     Portable Mini Cordless Car Vacuum Cleaner - Blue     KSh 2,199
3    Weighing Scale Digital Bathroom Body Fat Scale...     KSh 1,580
4    Portable Home Small Air Humidifier 3-Speed Fan...     KSh 1,740
..                                                 ...           ...
110  Shower Nozzle Cleaning Unclogging Needle Mini ...     KSh 1,658
111  Thickening Multipurpose Non Stick Easy To Clea...     KSh 1,768
112  6 In 1 Bottle Can Opener Multifunctional Easy ...       KSh 199
113         Wall-mounted Sticker Punch-free Plug Fixer       KSh 450
114  Black Simple Water Cup Wine Coaster Anti Slip ...       KSh 169

     old price Discount Review       Ratingd
0    KSh 1,525      38%    (2)  4.5 out of 5
1      KSh 999      47%   (14)  4.1 out of 5
2    KSh 2,923      25%   (24)  4.6 out of 5
3    KSh 2,499      37%    (7)  4.7 out of 5
4    KSh 2,356      26%    (5)  4.8 out of 5
..         ...      ...    ...           ...
110  KSh 1,699       2%    NaN           NaN
111  KSh 1,799       2%    NaN           NaN
112    KSh 553      64%    NaN           NaN
113    KSh 900      50%    (1)    2 out of 5
114    KSh 320      47%    NaN           NaN

[115 rows x 6 columns]>

In [11]:
print(df['Review'].describe())

count      57
unique     23
top       (5)
freq        7
Name: Review, dtype: object

In [12]:
df['Review'] = pd.to_numeric(df['Review'], errors='coerce')

In [13]:
print(df['Review'].describe())

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Review, dtype: float64